<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Hub</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/output.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="box-border m-0 p-0 flex flex-col">
    <div id="header" class="w-full flex flex-col p-4 bg-green-600 text-2xl">
      <div
        id="titletag"
        class="w-full flex px-8 py-4 justify-between bg-pink-300"
      >
        <div id="title">
          <h2>
            Headlines
            <span class="bg-orange-400 p-2 rounded-lg font-bold">Hub</span>
          </h2>
        </div>
        <div id="button"><i class="fa-solid fa-moon fa-xl"></i></div>
      </div>
      <div
        id="headlines"
        class="w-full my-2 h-full min-h-80 bg-blue-400 flex flex-col justify-end"
      >
        <div id="aritcle_block" class="m-8 w-full max-w-fit text-wrap">
          <h1 id="title">Title</h1>
          <p id="content" class="text-lg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
            corrupti id veniam voluptates repudiandae voluptatem ipsa neque
            dicta adipisci eos! Perferendis, optio at suscipit quibusdam velit
            sapiente nobis excepturi enim!
          </p>
          <button
            id="anchor"
            class="bg-red-600 my-2 text-white ease-in-out p-2 hover:text-red-600 hover:bg-white"
          >
            Read more
          </button>
        </div>
      </div>
    </div>

    <div id="main" class="text-xl flex flex-col w-full bg-purple-500">
      <div id="search" class="bg-slate-500 w-full m-0 max-sm: flex flex-col">
        <div id="filter_content" class="p-2 flex gap-4 max-sm:flex-wrap">
          <div id="search_container" class="flex">
            <input
              type="search"
              name="keyword"
              id="keyword"
              placeholder="Search by keyword"
              class="w-80 pr-14 pl-4 py-4 rounded-2xl"
            />
            <i
              class="fa-solid fa-magnifying-glass fa-xl relative right-12 top-8 max-sm:top-8 max-md:top-10"
            ></i>
          </div>

          <div id="dropdown" class="flex gap-8 my-4 w-24">
            <h1 id="filter">Filter By:</h1>
            <select name="category" id="category" class="w-64 bg-transparent">
              <option value="">business</option>
              <option value="">entertainment</option>
              <option value="">general</option>
              <option value="">health</option>
              <option value="">science</option>
              <option value="">sports</option>
              <option value="">technology</option>
            </select>
          </div>
        </div>
      </div>


      <div id="stories" class="my-4 bg-yellow-400 min-w-fit m-4 p-8 ">
        <h2>Top Stories</h2>

        <div id="article" class="w-full my-4 flex gap-2 max-sm:flex-col max-md:flex-wrap">
          <img
            src="https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2041443781.jpeg?c=16x9&q=w_800,c_fill"
            class="w-72"
          />
          <div id="content" class="flex-wrap">
            <h1 id="title">Title</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
              corrupti id veniam voluptates repudiandae voluptatem ipsa neque
              dicta adipisci eos! Perferendis, optio at suscipit quibusdam velit
              sapiente nobis excepturi enim!
            </p>
            <button
              id="anchor"
              class="bg-red-600 my-2 text-white ease-in-out p-2 hover:text-red-600 hover:bg-white"
            >
              Read more
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="{{url_for('static',filename='js/script.js')}}"></script>
  </body>
</html>
